vendor/
vendor/*.*
vendor/composer.lock
var/
var/*.*
var/cache/
var/cache/*.*
conf/config.php
conf/config.braintree.php
conf/config.twilio.php
conf/config.sendgrid.php
.idea
api/.idea
api/node_modules
api/npm-debug.log
web/src/js/lib
