{% extends 'layouts/base.twig' %}

{% block header %}
    <h1>Paid {{ amount }} EURO</h1>
{% endblock %}

{% block body %}
    <strong>Thank you for your business.</strong>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.twig' %}
{% endblock %}